<div class="classe-de-votre-element clear-filter" filter-color="black">
    <div class="page-header-image" style="background-image:url(../../../../../assets/images/logogabon.jpg)"></div>
    <div class="content">
        <div class="container">

            <div class="col-md-4 ml-auto mr-auto">
                <div>

                    <form [formGroup]="profileForm" (ngSubmit)="login()" class="form">
                        <div class="card-header text-center">
                            <div class="logo-container">
                                <img src="./assets/images/ugmlogo.png" height="150" alt="vide">
                            </div>
                        </div>
                        <div class="card-body">
                            <a for="exampleFormControlSelect1">Email</a>
                            <div class="input-group no-border input-lg">

                                <div class="input-group-prepend">

                                </div>
                                <input formControlName="email" type="email" class="form-control btn-primary btn-round btn-block" placeholder="Email..." required>
                            </div>
                            <a for="exampleFormControlSelect1">Mot de Passe</a>
                            <div class=" input-group no-border input-lg ">
                                <div class="input-group-prepend ">

                                </div>
                                <input formControlName="password" type="password" placeholder="Mot de Passe... " class=" btn-round btn-block form-control btn-primary " required/>
                            </div>
                            <br/>
                            <div class="card-footer text-center">
                                <input type="submit" id="submit" value="Login" class="btn btn-success btn-round btn-block " />
                                <div class="pull-left ">
                                    <h6>
                                        <a for="exampleFormControlSelect1" (click)="register()">CRÉER UN COMPTE</a>
                                    </h6>
                                </div>


                            </div>

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


</div>
