<table class="mat-table ligne" *ngIf="datas[1].desc">
    <thead>
        <tr>
            <th mat-header-cell>Ville</th>
            <th mat-header-cell>Descriptions</th>

            <th mat-header-cell>Prix</th>
            <th mat-header-cell>Detail</th>
        </tr>
    </thead>
    <tbody class="ligne">
        <tr class="scroll ligne" *ngFor="let data of datas">
            <td mat-cell>{{ data.ville }}</td>
            <td mat-cell>{{ data.desc }}</td>
            <td mat-cell>{{ data.prix }}</td>
            <td mat-cell></td>
        </tr>

    </tbody>
</table>

<table class="mat-table ligne" *ngIf="datas[1].body">
    <thead>
        <tr>

            <th mat-header-cell>Descriptions</th>

            <th mat-header-cell>User</th>

        </tr>
    </thead>
    <tbody class="ligne">
        <tr class="scroll ligne" *ngFor="let data of datas">
            <td mat-cell>{{ data.body }}</td>
            <td mat-cell>{{ data.user.name }}</td>
        </tr>

    </tbody>
</table>