<form>

    <mat-card *ngIf="!formulaire">
        <mat-card-content>
            <fieldset class="reset">
                <legend class="reset">Ajouter une nouvelle actualité</legend>
                <div class="example-form">
                    <div class="row">

                        <div class="col-md-6">
                            <input type="password" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">

                        </div>


                        <div class="col-md-6">
                            <input type="password" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">

                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <input type="password" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">

                        </div>
                        <div class="col-md-6">
                            <input type="password" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">

                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-6">
                            <input type="password" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-10">
                            <section>

                                <input type="password" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">

                            </section>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <input type="password" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">

                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">

                            <input type="password" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">

                        </div>
                        <div class="col-md-6">
                            <section class="example-full-width">

                                <div class="example-button-row">
                                    <input type="password" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">

                                </div>
                            </section>
                        </div>
                    </div>

                </div>
            </fieldset>
        </mat-card-content>

    </mat-card>

</form>


<!-- Afficher actualiter -->
<mat-card *ngIf="formulaire">
    <mat-card-content>
        <fieldset class="reset">
            <legend class="reset">Actualité</legend>
            <div class="example-form">
                <!-- HTML -->
                <!-- HTML -->
                <table class="mat-table">
                    <thead>
                        <tr>
                            <th mat-header-cell>Descriptions</th>
                            <th mat-header-cell>Images</th>
                            <th mat-header-cell>Utilisateurs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="scroll">
                            <td mat-cell>Donnée 1-1</td>
                            <td mat-cell>Donnée 1-2</td>
                            <td mat-cell>Donnée 1-3</td>
                        </tr>

                    </tbody>
                </table>



            </div>
        </fieldset>
    </mat-card-content>

</mat-card>