<table class="table">
    <thead>
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let post of actualiter ">

            <th class="body">{{ post.body }}</th>
            <th><img *ngIf="post.image" class="card-img-top profil" src="{{ post.image }} " alt="Card image cap "></th>

        </tr>

    </tbody>

</table>

<br/>
<h5 class="card-title text-center " (click)="ajouter() ">Ajouter Actualite</h5>
<br/>
<div class="text-center" *ngIf="table">
    <form [formGroup]="actualite" (ngSubmit)="ajouteractualiter()" class="form">

        <div class="mb-3 ">
            <label for="exampleFormControlTextarea1" class="form-label"> Description</label>
            <input formControlName="body" type="text" class="form-control" id="exampleFormControlInput1 " placeholder="Description ">

        </div>


        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label "> Image</label>
            <input (change)="onFileChange($event)" type="file" class="form-control" id="exampleFormControlInput1">

        </div>

        <input type="submit" class="btn btn-primary" value="Add">

    </form>
</div>
