.actu {
    width: 40%;
    margin-left: 350px;
    height: 700px;
}

.cardre {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.likeandcom {
    margin-bottom: 10%;
}

.scrollable-section {
    overflow-y: auto;
    max-height: 650px;
}

.scrollable-section::-webkit-scrollbar {
    width: 0;
    /* rend la barre de défilement invisible */
}

.form {
    width: 50%;
    /* définit la largeur de l'élément */
    margin: auto;
    box-shadow: 3px 3px rgb(167, 164, 164), -1em 0 0.4em beige;
    border-radius: 12.5px 12.5px 12.5px 12.5px;
}