<div class="row">
    <div class="col-3 part">
        <p class="card-title">Partenaires</p>

        <hr/>
        <div class="row text-center">
            <div class="col-12">
                <img src="../../../../assets/images/eva.jpg" class="card-img-top profil" alt="...">
                <p class="card-title">Partenaires</p>

            </div>
        </div>
    </div>
    <div class="col-6 scrollable-section">
        <div class="card">
            <img src="../../../../assets/images/eva.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="col-3 part">Liste d'utilisateurs</div>
</div>
