img {
    width: 100%;
    height: 300px;
}

.actu {
    margin-left: 35%;
}

.likeandcom {
    margin-bottom: 10%;
}

.scrollable-section {
    overflow-y: auto;
    max-height: 650px;
}

.scrollable-section::-webkit-scrollbar {
    width: 0;
    /* rend la barre de défilement invisible */
}