<!-- Afficher actualiter -->
<mat-card class="table">
    <mat-card-content>
        <fieldset class="reset">
            <legend class="reset">Utilisateurs inscrit</legend>
            <div class="row">
                <div class="col-md-6">

                    Recherche
                </div>
                <div class="col-md-6">
                    <input type="text" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline" placeholder="Recherche">
                </div>
            </div>
            <div class="example-form">
                <!-- HTML -->
                <!-- HTML -->

                <table class="mat-table ligne">
                    <thead>
                        <tr>
                            <th mat-header-cell>Nom</th>
                            <th mat-header-cell>Prenom</th>
                            <th mat-header-cell>Email</th>
                            <th mat-header-cell>Profil</th>
                            <th mat-header-cell>Tel</th>
                            <th mat-header-cell>Blocked</th>
                        </tr>
                    </thead>
                    <tbody class="ligne">
                        <tr class="scroll ligne">
                            <td mat-cell>Donnée 1-1</td>
                            <td mat-cell>Donnée 1-2</td>
                            <td mat-cell>Donnée 1-2</td>
                            <td mat-cell>Donnée 1-2</td>
                            <td mat-cell>Donnée 1-2</td>
                            <td mat-cell>True</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </fieldset>
    </mat-card-content>

</mat-card>
