/* .actu {
    margin-left: 3%;
} */

.profil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cardre {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-left: 3%;
}

.part {
    background-color: rgb(76, 122, 139);
    color: white;
    text-align: center;
}

.likeandcom {
    margin-bottom: 10%;
}

.scrollable-section {
    overflow-y: auto;
    max-height: 650px;
}

.scrollable-section::-webkit-scrollbar {
    width: 0;
    /* rend la barre de défilement invisible */
}

.desc {
    margin: 2%;
}
