.section {
    position: relative;
    left: 42%;
    top: 10%;
    margin: 1%
}

form {
    position: relative;
    top: 50%;
}

mat-card {
    display: flex;
    width: 70%;
    position: relative;
    left: 10%;
    top: 30px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.table {
    width: 100%;
    position: relative;
    left: 0%;
    top: 50px;
}

.example-form {
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.file {
    width: 400px;
}

.reset {
    all: revert;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}


/*les boutons*/

section {
    display: table;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 10px;
    min-width: 120px;
    font-weight: bold;
}

.example-button-row {
    display: table-cell;
    max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}

.example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}

.ligne {
    margin-top: 10px;
}


/*tableau*/


/* CSS */


/* CSS */

.mat-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.mat-table th.mat-header-cell {
    padding: 16px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.mat-table td.mat-cell {
    padding: 16px;
    border-bottom: 1px solid #eee;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.mat-table tr:hover {
    background-color: #fafafa;
}

.input-file {
    display: none;
}
