<form>
    <mat-card>
        <mat-card-content>
            <fieldset class="reset">
                <legend class="reset">Ajouter une nouvelle Appartement</legend>
                <div class="example-form">
                    <div class="row ligne">

                        <div class="col-md-6">
                            Description
                        </div>


                        <div class="col-md-6">
                            <input type="password" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">

                        </div>


                    </div>
                    <div class="row ligne">

                        <div class="col-md-6">
                            Ville
                        </div>


                        <div class="col-md-6">
                            <input type="password" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">

                        </div>


                    </div>
                    <div class="row ligne">

                        <div class="col-md-6">
                            prix
                        </div>


                        <div class="col-md-6">
                            <input type="password" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">

                        </div>


                    </div>
                    <div class="row ligne">
                        <div class="col-md-6">

                            Image
                        </div>
                        <div class="col-md-6">
                            <input type="file" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">

                        </div>
                    </div>
                    <div class="row ligne">
                        <div class="col-md-6">


                        </div>
                        <div class="col-md-6">
                            <input type="submit" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline">

                        </div>
                    </div>
                </div>
            </fieldset>
        </mat-card-content>

    </mat-card>

</form>


<!-- Afficher actualiter -->
<mat-card class="table">
    <mat-card-content>
        <fieldset class="reset">
            <legend class="reset">Appartements</legend>
            <div class="row">
                <div class="col-md-6">

                    Recherche
                </div>
                <div class="col-md-6">
                    <input type="text" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline" placeholder="Recherche">
                </div>
            </div>
            <div class="example-form">
                <!-- HTML -->
                <!-- HTML -->

                <table class="mat-table ligne">
                    <thead>
                        <tr>
                            <th mat-header-cell>Ville</th>
                            <th mat-header-cell>Descriptions</th>
                            <th mat-header-cell>Images</th>
                            <th mat-header-cell>Prix</th>
                            <th mat-header-cell>Detail</th>
                        </tr>
                    </thead>
                    <tbody class="ligne">
                        <tr class="scroll ligne">
                            <td mat-cell>Donnée 1-1</td>
                            <td mat-cell>Donnée 1-2</td>
                            <td mat-cell>Donnée 1-2</td>
                            <td mat-cell>Donnée 1-2</td>
                            <td mat-cell>Donnée 1-2</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </fieldset>
    </mat-card-content>

</mat-card>
