<h5 class="card-title text-center">tableau Appartement</h5>
<div class="scrollable-section-table">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Ville</th>
                <th scope="col">Desc</th>
                <th scope="col">Prix</th>
                <th scope="col">Image</th>
            </tr>
        </thead>

        <tbody>

            <tr *ngFor="let apprt of appartements">

                <th scope="row">{{ apprt.name}}</th>
                <th scope="row">{{ apprt.ville}}</th>
                <td>{{ apprt.desc}}</td>
                <td>{{ apprt.prix}}</td>
                <td> <img *ngIf="apprt.image" src="{{ apprt.image }}" class="card-img-top profil" alt="..."></td>

            </tr>

        </tbody>

    </table>
</div>
<br/>
<h5 class="card-title text-center" (click)="ajouter()">Ajouter Appartement</h5>
<br/>
<div class="text-center scrollable-section" *ngIf="table">
    <form [formGroup]="appartementform" (ngSubmit)="ajouterappartement()" class="form">

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nom</label>
            <input formControlName="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nom...">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Ville</label>
            <input formControlName="ville" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ville...">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"> Description</label>
            <input formControlName="desc" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Description">

        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"> Prix</label>
            <input formControlName="prix" type="text" class="form-control" id="exampleFormControlInput1" placeholder="2500dh">

        </div>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label"> Image</label>
            <input (change)="onFileChange($event)" type="file" class="form-control" id="exampleFormControlInput1">

        </div>

        <input type="submit" class="btn btn-primary" value="Ajouter">

    </form>
</div>