.actu {
    width: 100%;
    margin-left: 10px;
    height: 600px;
    background-color: none;
}

.profil .img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute;
    left: 180px;
    bottom: 150px;
}

.img {
    width: 700px;
    height: 450px;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 2px 2px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

p {
    text-align: center;
    margin-top: 20px;
}

.icon {
    position: absolute;
    left: 260px;
    bottom: 150px;
}

.icon1 {
    position: absolute;
    right: 300px;
    bottom: 200px;
}

.input-file {
    display: none;
}

.btns {
    position: absolute;
    right: 300px;
    bottom: 100px;
}