/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Poppins', sans-serif;
}


/* You can add global styles to this file, and also import other style files */


/*
@import './assets/css/bootstrap.min.css';

/*login*/


/*
@import './assets/css/bootstrap.min.css';


*/

@import './assets/demo/demo.css';
@import './assets/demo/demo.css';
@import './assets/css/now-ui-kit.css';
@import './assets/css/bootstrap.min.css';
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
